@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

p, h1, h2, h3, a {
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8FBFE0;
}

nav li {
    display: inline;
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav {
    background: #8FBFE0;
}

nav li a:hover {
    color: white;
}



#profile {
    border-radius: 50%;
    width: 250px;
    align-self: center;
}

#bio, #myname {
    text-align: center;
    color: white;
}

#bio {
    font-size: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.profile-area {
    background: #7C77B9;
    padding: 10px
}

.specs {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4px;
}

.box2 {
    text-align: justify;
    width: auto;
    margin: 0px 100px;
}

::-webkit-details-marker {
    float: right;
}

.profile-title {
    background-color: #7C77B9;
    border-radius: 7px 7px 0px 0px;
    color: white;
}
