@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* FONT */

body {
    font-family: 'Open Sans', sans-serif;
}


/* NAVIGATION */

nav {
    background: #7a7157;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: table;
    text-align: center;
    background-color: #7a7157;
}

nav li {
    display: inline-block;
    float: none;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav li a:hover {
    color: white;
}


/* FOOTER */

footer {
    display: table;
    text-align: center;
    bottom: 0;
    background: #595b3c;
    width: 100%;
}

footer div {
    display: inline-block;
}

.rights, .creator, .date {
    padding: 10px 10px;
    color: white;
}

.rights{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.creator {
    text-align: left;
}

.date {
    text-align: right;
}


/* HEAD AREA */

.profile-title /* EVERY HEADER BACKGROUND */{
    background-color: #595b3c;
    border-radius: 7px 7px 0px 0px;
    color: white;
}

.profile-title h2 /* EVERY HEADER TITLE */ {
    padding: 5px;
}

video /* only on front page, alignment of the video */{
    margin-left: auto;
    margin-right: auto;
    display: block
}

#profile /* profile picture */{
    border-radius: 50%;
    border: 5px solid white;
    width: 250px;
    align-self: center;
}

#bio, #myname, .faq /* center alignment of all the main titles and BIO & my name on profile page */ {
    text-align: center;
    color: white;
}

#bio /* BIO size on profile page */{
    font-size: 40px;
}

.center /* moving my profile pic to center */{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.profile-area /* the background of every head area */{
    background-image: url("/img/bg.jpg");
    padding: 10px;
}


/* INDEX */

.landing-page-grid /* Landing page grid 1.5:4 ratio */{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    padding: 4px;
    width: 1280px;
    margin: auto;
}

.landing-page-box2 /* lading page article box */{
    width: auto;
    margin: 0 40px 0 0;
    padding: 0;
}

.landing-page-box2 h2 {
    text-align: center;
    margin-top: 0;
}

.article-title {
    margin-bottom: 0px;
}

article p, .article2 p {
    text-align: justify;
}

.article2 p:first-child:first-letter {
    all: initial;
}

article p:first-child:first-letter /* initial (first letter) of article */{
    color: #595b3c;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

article a, .article2 a {
    text-decoration: none;
    color: #ff6600;
}

.sidebar-pic /* sidebar of article, the box behind it is .box1 */{
    width: 100%;
    height: auto;
}

.sidebar p {
    margin-top: 5px;
    font-size: 14px;
}


/* Profile page */

.specs /* 1:4 grid that contains the profile data */{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4px;
    width: 1280px;
    margin: auto;
}

details, .box1 p, .prog, article {
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    padding: 10px;
}

.box1 a {
    color: #ff6600;
    text-decoration: none;
}

summary {
    cursor: pointer;
    outline: none;
}

::-webkit-details-marker /* triangle clickable buttons on the right side of the openable boxes, HOBBIES and FAQ */{
    float: right;
    margin-top: 8px;
    color: #595b3c;
}

.box2 /* HOBBIES box */{
    text-align: justify;
    width: auto;
    margin: 0px 0px 0px 100px;
    padding: 0;
}

.box2 a, details a {
    text-decoration: none;
    color: #ff6600;
}

.gif /* all the profil page sizes */{
    width: 600px;
}

.pic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Dashboard */

.faq-div/* FAQ page */, .dash-div {
    width: 1280px;
    margin: 0 auto;
}

.qa, .dash {
    width: auto;
    text-align: center;
    padding: 0;
}

table {
    width: 1280px;
    text-align: center;
}

th {
    background-color: #595b3c;
    color: white;
}

td {
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

.instructions {
    text-align: center;
}

.instructions p{
    display: inline-block;
    padding-right: 20px;
}

.NBSA {
    text-align: center;
    color: red;
}

.guide-grid /* study guide grid 2*3 */{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4px;
    width: 1280px;
    margin: auto;
}

.box1-box /* boxes of study guide */{
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;
    text-align: center;
}


/* PROFESSION PAGE */

.icon {
    width: 135px;
}

.companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1280px;
    margin: auto;
}

.companies ul li {
    padding: 5px 0px;
}

.company-left, .company-right {
    width: 615px;
    margin: 0 auto;
}

.company {
    display: grid;
    grid-template-rows: auto;
    margin-top: 75px;
    padding: 24px;
    border-radius: 25px;
}

.company-img {
    width: 100%;
    margin: 0 auto;
}

.company-name, .culture, .it-roles {
    margin-bottom: 50px;
}

.company-name, .culture, .it-roles, .technologies {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

.macaw {
    background-color: rgba(255, 153, 0, 0.8);
}

.your-surprise {
    background-color: rgba(255, 53, 1, 0.6);
}

.prezi {
    background-color: rgba(234, 225, 228, 0.6);
}

.veracode {
    background-color: rgba(130, 219, 53, 0.8);
}

.blizzard {
    background-color: rgba(25, 170, 209, 0.6);
}

.macaw, .veracode {
    height: 1750px;
}

.your-surprise, .blizzard {
    height: 1981px;
}

.prezi {
    height: 1755px;
}

.preferences {
    background-color: rgba(246, 244, 245, 0.6);
}

.pref-img {
    margin: 0 auto;
    width: 35%;
}

.top3 {
    display: inline;
}

.top3 img {
    width: 30%;
}

.stanine {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* RESPONSIVE ELEMENTS (MEDIA QUERY) */

@media only screen and (max-width: 1316px) {
    .specs, .faq-div, .landing-page-grid, .dash-div, .guide-grid {
        width: auto;
    }

    video {
        width: 100%;
        height: auto;
    }

    .table {
        overflow-x: auto;
    }

    .guide-grid, .companies {
        display: block;
    }

    .companies {
        width: auto;
    }

    .company {
        margin-left: auto;
        margin-right: auto;
    }

    .box1-box, .stanine {
        width: 100%;
    }

}

@media only screen and (max-width: 906px) {
    .gif {
        width: 300px
    }
}

@media only screen and (max-width: 530px) {
    ::-webkit-details-marker {display: none;}
    
    .specs, .landing-page-grid {
        display: block;
    }

    .box2, .landing-page-box2 {
        margin: 0px;
    }

    article {
        margin-bottom: 20px;
    }

    .rights, .creator, .date {
        margin: auto;
    }
}
